flows.json
[{"id":"e9deba9e.297a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3fb01704.16d368","type":"telegram bot","z":"","botname":"SG Parking Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"500","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"51fd08a.8db3b78","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"39119664.f770e2","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":""},{"id":"8128f8eb.ad88f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"19ecd1df.ebf586","type":"ui_group","z":"","name":"Telegram Analytics","tab":"8128f8eb.ad88f8","order":1,"disp":true,"width":6,"collapse":false},{"id":"6b242ef.b5a575","type":"function","z":"e9deba9e.297a8","name":"create question","func":"msg.payload.type = 'message';\nmsg.payload.content = 'Please reply to this message by keying in your address.';\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\nreturn msg;\n","outputs":"1","noerr":0,"x":462,"y":618,"wires":[["fde62872.5b9798","9acdc19.ee3434"]]},{"id":"fde62872.5b9798","type":"telegram sender","z":"e9deba9e.297a8","name":"","bot":"3fb01704.16d368","x":701,"y":614,"wires":[[]]},{"id":"7f846143.6cafb8","type":"telegram command","z":"e9deba9e.297a8","name":"/searchhdb","command":"/searchhdb","bot":"3fb01704.16d368","strict":false,"hasresponse":false,"x":159,"y":547,"wires":[["6b242ef.b5a575"],[]]},{"id":"48f6080a.55fbd","type":"function","z":"e9deba9e.297a8","name":"Give Google Address","func":"var chatId = flow.get(\"chatId\");\nmsg.payload.chatId = chatId;\nmsg.payload.type = 'message';\nvar googleParam = 'https://www.google.com/maps/search/?api=1&query='\nvar carparkNum;\nvar finalMessage;\nvar carparkAddressArray = [];\nvar carparkLatArray = [];\nvar carparkLngArray = [];\nvar carparkRatesArray = [];\nvar messageContent = [];\nvar carparkDistToDestArray = [];\n\nfor (var num = 0; num < 5; num++) {\n    carparkAddressArray[num] = msg.payload.carpark_details[num].address;\n    carparkLatArray[num] = msg.payload.carpark_details[num].lat;\n    carparkLngArray[num] = msg.payload.carpark_details[num].lng;\n    carparkDistToDestArray[num] = msg.payload.carpark_details[num].distance_from_dest;\n    carparkRatesArray[num] = msg.payload.carpark_details[num].carpark_rates;\n}\n\nfor (num = 0; num < carparkAddressArray.length; num++) {\n    if (carparkAddressArray[num] == carparkAddressArray[num + 1]) {\n        delete carparkAddressArray[num+1];\n        delete carparkDistToDestArray[num+1];\n    }\n}\n\ncarparkAddressArray = carparkAddressArray.filter(item => item)\ncarparkDistToDestArray = carparkDistToDestArray.filter(item => item)\n\nfor (num = 0; num < carparkAddressArray.length; num++) {\n    carparkNum = num + 1;\n    messageContent[num] = 'Carpark ' + carparkNum + ' Details: ' + '\\n' + 'Distance from Destination: ' + carparkDistToDestArray[num] + '\\n' + 'Carpark Rates: '+ carparkRatesArray[num] + '\\n' + 'Google Map Link: '+ '\\n' + googleParam + carparkAddressArray[num].replace(/\\s+/g, '+').toLowerCase() + '\\n\\n';\n    if (finalMessage === undefined) {\n        finalMessage = messageContent[num];\n    } else if (num <=3) {\n        finalMessage = finalMessage + messageContent[num];\n    }\n}\n\nmsg.payload.content = finalMessage;\n\nreturn msg;","outputs":1,"noerr":0,"x":2093.611114501953,"y":331.44445514678955,"wires":[["766cda1e.5c741c","4021b0f5.4f00a"]]},{"id":"2aef5aad.4de20e","type":"telegram receiver","z":"e9deba9e.297a8","name":"","bot":"3fb01704.16d368","saveDataDir":"","x":207.5,"y":446,"wires":[["e516d0c6.c9643","2c02cb14.d2c86c"],[]]},{"id":"e516d0c6.c9643","type":"switch","z":"e9deba9e.297a8","name":"","property":"originalMessage.reply_to_message.text","propertyType":"msg","rules":[{"t":"eq","v":"Please reply to this message by keying in your address.","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470.5,"y":448,"wires":[["d854819a.1a36f","9acdc19.ee3434","c53d2fdd.c9f2e8","2e3a5d96.62fc1a","ef0b03ee.48a1b8","477faeed.f64778"]]},{"id":"1fc55e9e.e72bd1","type":"http request","z":"e9deba9e.297a8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1209,"y":349,"wires":[["cbc44cd5.afe63","59a2331a.f9f624"]]},{"id":"97809817.978048","type":"debug","z":"e9deba9e.297a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.results.0.geometry.location.lat","targetType":"msg","x":1706.5,"y":247,"wires":[]},{"id":"cbc44cd5.afe63","type":"json","z":"e9deba9e.297a8","name":"","property":"payload","action":"","pretty":false,"x":1373,"y":349,"wires":[["97809817.978048","e8165e04.17dea8","2350e0d9.d9b08","661ac927.503e7"]]},{"id":"39d203b6.47ea64","type":"change","z":"e9deba9e.297a8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1021,"y":350,"wires":[["1fc55e9e.e72bd1"]]},{"id":"d854819a.1a36f","type":"function","z":"e9deba9e.297a8","name":"Create Geocode HTTP Request","func":"var apiKey = 'AIzaSyDEWaKeq6zK3aqU8yexuoL-iid1PdcKFgk';\nvar geocodeRequest = 'https://maps.googleapis.com/maps/api/geocode/json?address=';\nvar keyCode = '&key=';\n\n//var lat = '47.5951518'\n//var long = '-122.3316393'\n//var addressParam = lat + ',' + long\n\nvar inputAddress = msg.payload.content;\nif (typeof(inputAddress) == 'number') {\n    msg.payload = geocodeRequest + inputAddress + keyCode + apiKey;\n} else {\n    inputAddress = inputAddress.replace(/\\s+/g, '+').toLowerCase();\n    msg.payload = geocodeRequest + inputAddress + keyCode + apiKey;\n}\nflow.set(\"chatId\", msg.originalMessage.chat.id);\nreturn msg;\n","outputs":1,"noerr":0,"x":735.5,"y":342,"wires":[["39d203b6.47ea64","5e03cec2.dc1578","a9b86998.5ab238","28a5e793.a2bed8"]]},{"id":"766cda1e.5c741c","type":"telegram sender","z":"e9deba9e.297a8","name":"","bot":"3fb01704.16d368","x":2321,"y":336,"wires":[[]]},{"id":"e8165e04.17dea8","type":"debug","z":"e9deba9e.297a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.results.0.geometry.location.lng","targetType":"msg","x":1703.5,"y":289,"wires":[]},{"id":"2350e0d9.d9b08","type":"debug","z":"e9deba9e.297a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1583.5,"y":207,"wires":[]},{"id":"6eb20ec2.f1e09","type":"exec","z":"e9deba9e.297a8","command":"cd copiedFiles && python3 getlatlong_nouserinput.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1641,"y":762,"wires":[["db558a87.01efd8","c84f6cc6.0ec9"],[],[]]},{"id":"ba2085b5.6ddfe8","type":"debug","z":"e9deba9e.297a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2166.5,"y":627.5,"wires":[]},{"id":"708507e2.bb7768","type":"function","z":"e9deba9e.297a8","name":"Return lat,lng as a String","func":"if (msg.payload.singaporeBool === 1) {\n    var lat = msg.payload.results[0].geometry.location.lat; \n    var lng = msg.payload.results[0].geometry.location.lng;\n    \n    lat = lat.toString();\n    lng = lng.toString();\n    \n    msg.payload = lat + ' ' + lng;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1410.5,"y":693,"wires":[["6eb20ec2.f1e09","aa42961d.562218"]]},{"id":"db558a87.01efd8","type":"json","z":"e9deba9e.297a8","name":"","property":"payload","action":"","pretty":false,"x":1984,"y":629,"wires":[["ba2085b5.6ddfe8","48f6080a.55fbd"]]},{"id":"59a2331a.f9f624","type":"debug","z":"e9deba9e.297a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1455.5,"y":144,"wires":[]},{"id":"4021b0f5.4f00a","type":"debug","z":"e9deba9e.297a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2288.166748046875,"y":276.2222366333008,"wires":[]},{"id":"5e03cec2.dc1578","type":"debug","z":"e9deba9e.297a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"originalMessage.chat.id","targetType":"msg","x":1030.833333333333,"y":761.6666666666665,"wires":[]},{"id":"a9b86998.5ab238","type":"function","z":"e9deba9e.297a8","name":"Removes Error","func":"//removes error and pass chatId info","outputs":1,"noerr":0,"x":1029.1666870117188,"y":532.3333740234375,"wires":[["48f6080a.55fbd","661ac927.503e7"]]},{"id":"28a5e793.a2bed8","type":"debug","z":"e9deba9e.297a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":891.5,"y":265,"wires":[]},{"id":"c5b1e7be.626478","type":"telegram command","z":"e9deba9e.297a8","name":"/searchhdb@Sg_parkingbot","command":"/searchhdb@Sg_parkingbot","bot":"3fb01704.16d368","strict":false,"x":222,"y":625,"wires":[["6b242ef.b5a575"],[]]},{"id":"661ac927.503e7","type":"function","z":"e9deba9e.297a8","name":"Returns error if search not in Singapore","func":"var chatId = flow.get(\"chatId\");\nmsg.payload.chatId = chatId;\nmsg.payload.type = 'message';\n\nif(msg.payload['status'] !== \"ZERO_RESULTS\") {\n    var countryIndex = msg.payload.results[0]['address_components'].length;\n    if (countryIndex >=2){\n        var countryLongName = msg.payload.results[0]['address_components'][countryIndex-2]['long_name'];\n    } else {\n        var countryLongName = msg.payload.results[0]['address_components'][countryIndex-1]['long_name'];\n    }\n    \n    if (countryLongName === \"Singapore\") {\n        msg.payload.singaporeBool = 1;\n        return [msg,null]\n    } else {\n        msg.payload.singaporeBool = 0;\n        return [msg,null]\n    }\n} else {\n    msg.payload.content = \"Bro what you smoking? This place doesn't exist! Please try again with a different search term.\"\n    return [null,msg]\n}\n\n\n\n","outputs":2,"noerr":0,"x":1101.5,"y":600,"wires":[["708507e2.bb7768","477faeed.f64778","e78a741f.83aaa"],["14b8ccc.07c62b3"]]},{"id":"14b8ccc.07c62b3","type":"telegram sender","z":"e9deba9e.297a8","name":"","bot":"3fb01704.16d368","x":1789,"y":561,"wires":[[]]},{"id":"9acdc19.ee3434","type":"debug","z":"e9deba9e.297a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":715.5,"y":505,"wires":[]},{"id":"a36673a4.ab79e8","type":"telegram command","z":"e9deba9e.297a8","name":"/searchmalls","command":"/searchmalls","bot":"3fb01704.16d368","strict":false,"x":171,"y":693,"wires":[["6b242ef.b5a575"],[]]},{"id":"a557d32a.36cd4","type":"telegram command","z":"e9deba9e.297a8","name":"/searchmalls@Sg_parkingbot","command":"/searchmalls@Sg_parkingbot","bot":"3fb01704.16d368","strict":false,"x":221,"y":733,"wires":[["6b242ef.b5a575"],[]]},{"id":"cd6a9896.4bc5","type":"telegram command","z":"e9deba9e.297a8","name":"/searchall","command":"/searchall","bot":"3fb01704.16d368","strict":false,"x":163,"y":774,"wires":[["6b242ef.b5a575"],[]]},{"id":"b163eea1.ef9e88","type":"telegram command","z":"e9deba9e.297a8","name":"/searchall@Sg_parkingbot","command":"/searchall@Sg_parkingbot","bot":"3fb01704.16d368","strict":false,"x":210,"y":813,"wires":[["6b242ef.b5a575"],[]]},{"id":"aa42961d.562218","type":"debug","z":"e9deba9e.297a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1694.5,"y":678,"wires":[]},{"id":"c84f6cc6.0ec9","type":"debug","z":"e9deba9e.297a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2241.5,"y":788,"wires":[]},{"id":"2c02cb14.d2c86c","type":"debug","z":"e9deba9e.297a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":406.5,"y":366,"wires":[]},{"id":"c53d2fdd.c9f2e8","type":"ui_text","z":"e9deba9e.297a8","group":"19ecd1df.ebf586","order":1,"width":0,"height":0,"name":"","label":"Last Message:","format":"{{msg.payload.content}}","layout":"col-center","x":590.5,"y":715,"wires":[]},{"id":"2e3a5d96.62fc1a","type":"function","z":"e9deba9e.297a8","name":"Total Msg Received","func":"var msgCount = flow.get(\"msgCount\");\nif (isNaN(msgCount)===true){\n    msgCount = 0;\n}\nif (msg.payload.content !== null) {\n    msgCount = msgCount + 1;\n}\nflow.set(\"msgCount\", msgCount);\nmsg.payload = msgCount;\nreturn msg;","outputs":1,"noerr":0,"x":553.5,"y":809,"wires":[["5979f90b.ba0bd8","2bfb2e4d.9769d2"]]},{"id":"5979f90b.ba0bd8","type":"ui_text","z":"e9deba9e.297a8","group":"19ecd1df.ebf586","order":3,"width":0,"height":0,"name":"","label":"Total message received:","format":"{{msg.payload}}","layout":"col-center","x":764.5,"y":850,"wires":[]},{"id":"ef0b03ee.48a1b8","type":"ui_text","z":"e9deba9e.297a8","group":"19ecd1df.ebf586","order":2,"width":0,"height":0,"name":"","label":"Last Message From:","format":"{{msg.originalMessage.from.username}}","layout":"col-center","x":643,"y":682,"wires":[]},{"id":"2bfb2e4d.9769d2","type":"ui_chart","z":"e9deba9e.297a8","name":"","group":"19ecd1df.ebf586","order":4,"width":0,"height":0,"label":"Total Msg Trend","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"No Values Now","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760.5,"y":798,"wires":[[]]},{"id":"477faeed.f64778","type":"function","z":"e9deba9e.297a8","name":"","func":"if (msg.payload.content !== undefined){\n    var inputAddress = msg.payload.content;\n    flow.set(\"inputAddress\",inputAddress);\n} else {\n    if (msg.payload.singaporeBool === 0 && (msg.url).includes(\"singapore\") === false) {\n        var inputAddress = flow.get(\"inputAddress\")\n        inputAddress = inputAddress + ' Singapore'\n        msg.payload.content = inputAddress\n        return [msg,null];\n    } else {\n        \n        if(msg.payload['status'] === \"ZERO_RESULTS\") {\n            msg.payload.content = \"Bro what you smoking? This place doesn't exist! Please try again with a different search term.\"\n            return [null,msg]\n        } else if (msg.payload.results[0]['address_components'][(msg.payload.results[0]['address_components'].length)-2]['long_name'] !== \"Singapore\") {\n            var formattedAddress = msg.payload.results[0]['formatted_address'];\n            msg.payload.content = \"Yo bro your search result resides in \" + formattedAddress + \". Please try again with a different search term.\"\n            return [null,msg]\n        }\n        \n    }\n}\n","outputs":2,"noerr":0,"x":1417.5,"y":535,"wires":[["d854819a.1a36f","65e93730.8324a"],["14b8ccc.07c62b3","a504cf57.52486"]]},{"id":"65e93730.8324a","type":"debug","z":"e9deba9e.297a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1647.5,"y":488,"wires":[]},{"id":"a504cf57.52486","type":"debug","z":"e9deba9e.297a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1579.5,"y":587,"wires":[]},{"id":"e78a741f.83aaa","type":"debug","z":"e9deba9e.297a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1384.5,"y":612,"wires":[]},{"id":"c15ca58b.089d4","type":"exec","z":"e9deba9e.297a8","command":"cd C:\\Users\\Allen\\AppData\\Local\\Programs\\Python\\Python38-32 && getlatlong_nouserinput.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1770,"y":880,"wires":[[],[],[]]}]
